/* MOBILE */

@media only screen and (max-width: 600px) {
    header { /*Header Style*/
        flex-direction: column;
    }

    header>a {
        right: 0;
    }

    .columns {
        flex-direction: column;
    }

    footer {
        width: 95%;
        bottom: 0;
        position: relative;
    }
}


