:root{
    --carbon-color: ##15151E;
    --red-color: red;
    --grey-color: #808080;
}
@font-face {
    font-family: F1Font;
    src: url("../../fonts/Formula1-Bold.otf");
}
body{
    margin: 0;
    background-color: #15151E;
    font-family: F1Font;
    color: white;
    height: 300vh;
}

a{
    text-decoration: none;
    color: white;
}


/*-------------------------HEADER--------------------------*/

header { /*Header Style*/
    border: 5px solid var(--warm-red);
    border-radius: 25px;
    /*---------------------*/
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    /*---------------------*/
    box-shadow: 0px 0px 10px 0px var(--warm-red);
}

header>h2 { /*H2 Headline style*/
    color: var(--warm-red);
    /*---------------------*/
    font-family: F1-Bold;
    font-size: 40px;
    /*---------------------*/
    flex: 5;
}

header>a { /*Header Button style*/
    color: var(--warm-red);
    /*---------------------*/
    border: 1px transparent solid;
    border-radius: 3px;
    /*---------------------*/
    font-family: F1-Bold;
    text-decoration: none;
    /*---------------------*/
    padding: 15px;
    position: relative;
    transition: ease 0.3s;
}

header>a:hover { /*Header Button hover style*/
    border: 1px var(--warm-red) solid;
    border-radius: 3px;
    /*---------------------*/
    transition: ease 0.3s;
}

/*-------------------------HEADER END-----------------------*/


/*--------------------------FOOTER--------------------------*/

footer {
    border: 5px solid var(--warm-red);
    border-radius: 25px;
    /*---------------------*/
    color: var(--gray-color);
    font-family: f1-regular;
    /*---------------------*/
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--warm-red);
}

/*------------------------FOOTER END------------------------*/