/*footer*/
footer{
    text-align: center;
    position: relative;
    background-color: var(--background-color);
    border-top: 1px var(--primary-color) solid;
    border-bottom: 1px var(--primary-color) solid;
    z-index: 1;
    
}

footer fieldset{
    border: var(--secondary-color) 3px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
footer .bottom-div{
    display: flex;
    justify-content: space-between;
    font-size: smaller;

}
footer div{
    padding: 0 150px;
    border-bottom: 1px solid var(--primary-color);
}
