body {
    background-color: var(--carbon-black);
}

/*Header*/

header { /*Header Style*/
    border: 5px solid var(--warm-red);
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 0px 10px 0px var(--warm-red);
    -moz-box-shadow: 0px 0px 10px 0px var(--warm-red);
    box-shadow: 0px 0px 10px 0px var(--warm-red);
}

header>h2 { /*H2 Headline style*/
    color: var(--warm-red);
    font-family: F1-Bold;
    font-size: 40px;
    padding-left: 30px;

    order: 0;
    flex: 5 1 auto;
    align-self: center;
}

header>a { /*Header Button style*/
    color: var(--warm-red);
    border: 1px transparent solid;
    border-radius: 3px;

    font-family: F1-Bold;
    text-decoration: none;
    padding: 15px;

    position: relative;
    right: 100px; 

    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}


header>a:hover { /*Header Button hover style*/
    border: 1px var(--warm-red) solid;
    border-radius: 3px;

    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

/*MAIN*/

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 250px;
}

.subColumns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    gap: 5px;

    padding: 15px;

    -webkit-animation: scale-in-ver-bottom 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
    animation: scale-in-ver-bottom 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}

.subColumns>h2 {
    color: var(--gray-color);

    font-family: "Montserrat", sans-serif;
    font-weight: 350;
    text-align: center;
}

.subColumns>a {
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: var(--gray-color);

    -webkit-box-shadow: 0px 0px 3px 0px var(--gray-color);
    -moz-box-shadow: 0px 0px 3px 0px var(--gray-color);
    box-shadow: 0px 0px 3px 0px var(--gray-color);

    font-family: "Montserrat", sans-serif;
    font-weight: 350;
    text-decoration: none;
    text-align: center;

    padding: 10px;
    width: 200px;

    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.subColumns>a:hover {
    background-color: var(--gray-color);
    color: var(--carbon-black);

    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

/*FOOTER*/

footer {
    border: 5px solid var(--warm-red);
    border-radius: 25px;

    -webkit-box-shadow: 0px 0px 10px 0px var(--warm-red);
    -moz-box-shadow: 0px 0px 10px 0px var(--warm-red);
    box-shadow: 0px 0px 10px 0px var(--warm-red);

    text-align: center;

    position: fixed;
    bottom: -50%;

    width: 99%;
}

footer>h2 {
    color: var(--warm-red);
    font-size: xx-large;
    font-family: F1-Bold;
}

footer>p {
    color: var(--warm-red);
    font-family: "Montserrat", sans-serif;
}

/*CONTENT*/
.content {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/*HIDDEN*/
.hidden {
    display: none;
}