
.active{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}
.top-nav a:hover{
    color: var(--secondary-color);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}
.event a:hover, .dropdown-content a:hover{
    color: var(--secondary-color);
   
}
.dropdown-content a:hover, fieldset:hover{
    border-color: var(--secondary-color);
}
button{
    color: white;
    background-color: var(--secondary-color);
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    font-family: F1Font;
    font-size: 10px;
    margin: 15px 0;
}
button:hover{
    background-color: var(--red-hover-color);
}