main{
    margin: 0 150px;
}

.section-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%; /* Ezzel biztosítjuk, hogy a szülő elem teljes szélességét kihasználja */
}
.race-section, .regular-section, .popular-section {
    flex: 1 1 33.33%; /* Minden elem egyenlően osztozik a szélességen */
    width: 33.33%; /* Ha bármilyen böngésző specifikus probléma lenne, ezzel a beállítással is biztosítjuk az egyenlő szélességet */
    box-sizing: border-box; /* Ha padding vagy border van a szekciókon, akkor is megfelelően viselkedjen */
}

.race-section .race-topic, .regular-section div{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    margin: 15px 0;
    padding: 10px;
    
}
.race-section .race-topic>div{
    text-align: center;
}

.race-section a {
    padding: 0 15px;
}
.race-section a:hover{
    color: var(--secondary-color);
}
.race-section p {
    color: rgb(101, 101, 101);
    font-size: smaller;
}
.race-section img{
    height: 25px;
    width: 32px;
    border-radius: 5px;
}
input{
    color: black;
}