.header-container{
    border-bottom: none;
}
main{
    padding: 25px 150px;
}

#news-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.newsDiv {
    flex: 1 1 calc(20%); /* 4 oszlop (25%) mínusz a gap */
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box; /* Megakadályozza a szélesség növekedését */
}
.newsDiv p{
    color: #777;
    font-size: small;
}
.newsDiv{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.newsDiv:hover{
    transform: scale(1.05);
}
@media (max-width: 1700px){
    main{
        padding: 25px 100px;
    }
}
@media (max-width: 1350px){
    main{
        padding: 25px 100px;
    }
}
@media (max-width: 992px){
    main{
        padding: 10px 20px;
    }
}
@media (max-width: 768px){
    main{
        padding: 10px 10px;
    }
}
@media (max-width: 576px){
    main{
        padding: 10px 0px;
    }
}