.header-container{
    border-bottom: none;
}
.container{
    margin: 25px 150px;
    display: flex;
    gap: 25px;
}
.profile-datas-container{
    flex: 2 1;
}
.profile-datas-container p{
    color: #777;
}
.settings-container{
    flex: 1 2;
}
.username-div, .email-div, .password-div{
    border-bottom: 1px solid var(--primary-color);
    padding: 15px 0;
    display: block;
}
div input{
    border-radius: 5px;
    padding: 5px;
    color: black;
    width: 100%;
    border: 0;
}
.settings-container button{
    margin: 5px 0;
}
.settings-container nav ul li{
    border: none;
}
