.header-container{
    border: unset;
}
.main-container{
    margin: 25px 150px;
    display: flex;
    gap: 25px;
}
#race-list-section{
    flex: 2 3;
}
#race-result-section{
    flex: 3 2;
    margin: 25px 0;
   
}
#race-result-section h2{
    margin: 0 10px;
}
.race-div{
    flex: 1;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    margin: 25px 0;
    padding: 15px;
    text-align: center;
}
.race-div div{
    display: flex;
    gap: 25px;
}
.race-div a h2{
    flex: 1 2 2;
}
.race-div a div{
    flex: 2 1 2;
    display: flex;
    gap: 25px;
}
.podium-drivers-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    gap: 25px;
}
.second-div, .first-div, .third-div{
    text-align: center;
}
.podium-drivers-div div{
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    width: 25%;
}
.podium-drivers-div div> h3{
    background-color: var(--primary-color);
    color: black;
    margin: 0;
    padding: 15px;
    
}
.result-table-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 5px;
}

@media (max-width: 1700px) {
    .main-container{
        margin: 25px 100px;
    }
    .podium-drivers-div img{
       height: 125px;
    }
    #race-list-section{
        width: auto;
    }
}


@media (max-width: 1350px) {
    .main-container{
        margin: 25px 100px;
    }
    .podium-drivers-div img{
       height: 100px;
    }
    #race-result-section div{
        width: auto;
    }
}
@media (max-width:992px){
    .main-container{
        flex-direction: column;
        margin: 25px 75px;
    }
    .podium-drivers-div img{
       height: 125px;
    }
    #race-result-section div{
        width: auto;
    }
    #race-list-section{
        width: auto;
    }
}
@media (max-width:768px){
    .main-container{
        flex-direction: column;
        margin: 25px 0;
    }
    .podium-drivers-div img{
       height: 125px;
    }
    #race-result-section div{
        width: auto;
    }
    #race-list-section{
        width: auto;
    }
}

@media (max-width:576px){
    .main-container{
        flex-direction: column;
        margin: 25px 0;
    }
    .podium-drivers-div img{
       height: 100px;
    }
    #race-list-section{
        width: auto;
    }
}