.header-container{
    border-bottom: none;
}
.timer{
    text-align: center;
    margin: 25px 150px;
    font-family: F1Font;
}
.timer img{
    height: 64px;
    width: 64px;
    border-radius: 15px !important;
}
/*main*/
main{
    margin: 25px 150px;
}
.track-container{

    display: flex;
    
    gap: 20px;
}
.trackData-content{
    padding: 0 25px 0 0;
    width: auto;
}
#datas h3{
    font-size: larger;
}
#datas div{
    border-bottom: var(--primary-color) solid 1px;
}
#datas div:last-child{
    border-bottom: none;
}
#datas div p{
    font-size: medium;
    font-style: italic;
    color: #c9c6c6;
}
.track-img img {
    height: 500px !important;
    width: auto;
}
