
.active{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}
.top-nav>ul a {
    position: relative;
    padding-bottom: 5px; /* Adds padding below the text to match .active */
}

.top-nav>ul a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px; /* Aligns the line with .active's bottom border */
    left: 50%;
    background-color: var(--secondary-color);
    transition: width 0.3s ease, left 0.3s ease;
}

.top-nav>ul a:hover::after {
    width: 100%;
    left: 0;
}

.event a:hover, .dropdown-content a:hover{
    color: var(--secondary-color);
   
}
.dropdown-content a:hover, fieldset:hover{
    border-color: var(--secondary-color);
}
.settings-container a:hover{
    color: var(--secondary-color);
}
button{
    color: white;
    background-color: var(--secondary-color);
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    font-family: F1Font;
    font-size: 10px;
    margin: 15px 0;
}
button:hover{
    background-color: var(--red-hover-color);
}
.Profile-dropdown-content>li>a:hover{
    border: none !important;
    padding: 15px 25px !important;

    background-color: #20202b;
}
.Profile-dropdown-content>li>a::after{
    transition: none !important;
}