:root{
    --carbon-color: #15151E
}
@font-face {
    font-family: F1Font;
    src: url("../../fonts/Formula1-Regular.otf");
}
body{
    margin: 0;
    background-color: var(--carbon-color);
}
h1, h2, h3, nav{
    font-family: F1Font;
}

  
.header-container{
    background-color: var(--carbon-color);
    color: white;
}
.page-header{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    border-bottom:1px rgb(129, 128, 128) solid ;
    padding: 0 150px;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px rgb(129, 128, 128) solid ;
    padding: 0 150px;
    
}
.logo h2>a{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 15px 0px;
    font-weight: bold;
}
nav ul li>a{
    text-decoration: none;
    color: white;
}
nav li>a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #252525;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
nav ul li{
    border-right: 1px solid rgb(129, 128, 128);
    padding: 0 25px;
}
nav ul li:last-child{
    border-right: none;
    padding-right: 0;

}
nav ul li:first-child{
    padding-left: 0;
}
main{
    margin: 25px 150px;
    color: white;
    height: 100vh;
}
footer{
    background-color: #15151E;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: small;
    border-top: 1px solid rgb(129, 128, 128);
  }