body {
    background-color: var(--carbon-black);
}

/*Header*/

header { /*Header Style*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

header>h2 { /*H2 style*/
    color: var(--warm-red);
    font-family: F1-Bold;
    font-size: 40px;
    padding-left: 30px;
    text-align: center;
}

header>nav { /*Navigation Style*/
    text-align: center;
    background-color: var(--nav-color);
    padding: 15px;
    width: 99%;

    -webkit-box-shadow: 0px 0px 30px 10px var(--gray-color);
    -moz-box-shadow: 0px 0px 30px 10px var(--gray-color);
    box-shadow: 0px 0px 30px 10px var(--gray-color);
}

header>nav>a { /*Navigation button Styles*/
    color: var(--gray-color);
    text-decoration: none;
    text-align: center;

    font-size: 25px;
    font-family: F1-Bold;

    margin: 250px;
    padding: 15px;
    transition: 0.5s ease;
}


header>nav>a:hover {
    color: var(--carbon-black);
    background-color: var(--gray-color);
    transition: 0.5s ease;
}

/*MAIN*/

.newsStyles>h2{ /*Small news Headline CSS*/
    color: var(--warm-red);
    font-size: 30px;
    font-family: F1-Bold;
}

.newsStyles>p{ /*Small news Content CSS*/
    color: var(--gray-color);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.newsStyles>a{
    color: var(--gray-color);
    background-color: var(--warm-red);
    font-family: F1-Regular;
    text-decoration: none;
    padding: 15px;

    -webkit-box-shadow: 0px 0px 10px 0px var(--warm-red);
    -moz-box-shadow: 0px 0px 10px 0px var(--warm-red);
    box-shadow: 0px 0px 10px 0px var(--warm-red);
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: 0.5s ease;
}

.newsStyles>a:hover{
    color: var(--warm-red);
    background-color: var(--gray-color);

    -webkit-box-shadow: 0px 0px 10px 0px var(--gray-color);
    -moz-box-shadow: 0px 0px 10px 0px var(--gray-color);
    box-shadow: 0px 0px 10px 0px var(--gray-color);
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: 0.5s ease;
}

.flexNews {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.smallNews{ /*Small news CSS*/
    width: 30%;
    order: 1;
    flex: 1 0 auto;
    align-self: auto;
}

.smallNews>p{
    width: 80%;
}

.midNews{ /*Mid news CSS*/
    width: 60%;
    order: 2;
    flex: 0 2 auto;
    align-self: auto;
}

.fullNews{ /*Full news CSS*/
    width: 100%;
}

/*FOOTER*/

footer {
    border: 5px solid var(--warm-red);
    border-radius: 25px;

    -webkit-box-shadow: 0px 0px 10px 0px var(--warm-red);
    -moz-box-shadow: 0px 0px 10px 0px var(--warm-red);
    box-shadow: 0px 0px 10px 0px var(--warm-red);

    text-align: center;

    position: fixed;
    bottom: -50%;

    width: 99%;
}

footer>h2 {
    color: var(--warm-red);
    font-size: xx-large;
    font-family: F1-Bold;
}

footer>p {
    color: var(--warm-red);
    font-family: "Montserrat", sans-serif;
}

/*CONTENT*/
.content {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/*HIDDEN*/
.hidden {
    display: none;
}

/*LOADER*/
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--gray-color);
    box-shadow: 0 0 0 0 var(--gray-color);
    animation: l1 1s infinite;

    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes l1 {
      100% {box-shadow: 0 0 0 30px #0000}
}   