@media (max-width: 1050px) {
    .top-nav{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    .header-container{
        background-color: var(--carbon-color) ;
    }
    header{
        padding: 0 10px;
    }
}
@media (max-width: 768px) { /*Tablet nézet*/
    .top-nav{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    .header-container{
        background-color: var(--carbon-color) ;

    }
    header{
        padding: 0 10px;
    }
}
@media (max-width: 576px){ /*Mobil nézet*/
    .top-nav{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    .header-container{
        background-color: var(--carbon-color) ;

    }
   
    header{
        padding: 0 10px;
    }
}