
nav ul{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
}
nav ul li{
    border-right: 1px solid rgb(129, 128, 128);
    padding: 0 25px;
}
nav ul li:last-child{
    border-right: none;
    padding-right: 0;

}
nav ul li:first-child{
    padding-left: 0;
}
a{
    text-decoration: none;
    color: white;
}
.active{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--red-color);
}
.hidden{
    display: none;
}
table{
    margin: 25px;
    text-align: center;
}
th,td{
    padding: 5px;
    border-bottom: 1px solid var(--grey-color);
    width: 100px;
}
img{
    height: 25px;
    width: 32px;
    border-radius: 5px;
}
/*main*/
main{
    margin: 25px 150px;
    height: 75vh;
}