/*------------------------------
*
* Settings for elements appearing on every page
*
*------------------------------
*
* Configured elements:
*       - Profile UI
*       - Dropdown menus
*
*------------------------------
*Created by: Ináncsi Krisztián
*Last updated: 2025-03-02.
*/



body{
    background-color: var(--background-color);
}

fieldset{
    border: 5px solid var(--secondary-color);
    border-left: none;
    border-radius: 0 15px 15px 0 ;
    -webkit-border-radius: 0 15px 15px 0 ;
    -moz-border-radius: 0 15px 15px 0 ;
    -ms-border-radius: 0 15px 15px 0 ;
    -o-border-radius: 0 15px 15px 0 ;
}
.flag{

    height: 25px;
    width: 32px;
    border-radius: 5px;

}
/*Profile UI*/

.Profile-dropdown {
    display: flex;
    flex-direction: column;
    position: relative; /* A dropdown pozicionálásához szükséges */
    align-items: center; /* Középre igazítja az elemeket a flexbox miatt */
}

.Profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* A szülő jobb oldalához igazodik */
    background-color: #15151E;
    border-radius: 15px;
    width: max-content; /* Csak akkora lesz, amennyire szükség van */
    min-width: 150px; /* Ne legyen túl keskeny */
    z-index: 100;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Árnyék a jobb láthatóságért */
    text-align: center; /* Az összes szöveg középre kerül */
    padding: 10px 0; /* Kicsit több tér a tartalom körül */
}

.Profile-dropdown-content a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* Megakadályozza, hogy a szöveg több sorba törjön */
    margin: 0 10px;
}

.Profile-dropdown:hover .Profile-dropdown-content {
    display: block;
}

.Profile-dropdown-content  li{
    border: none !important; 
    padding: 0 !important;
}

/* Dropdown stílusok */
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 50;
    /* Kétoldali 150px margó */
    border-bottom: solid 1px var(--primary-color);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.85); /* Az utolsó érték a spread */
}
.dropdown-content div {
    text-decoration: none;
    display: flex;
    padding: 25px 150px;

}
.full-schedule-container{
    padding: 25px 0;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 150px;
}
.full-schedule-container a:hover{
    color: var(--red-color);
}
#schedule-content, #result-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#schedule-content a, #result-content a{
    width: 300px;
}
#schedule-content div, #result-content div{
    padding: 10px 0;
}


#schedule-content p{
    padding: 0 15px;
}
/* Hover esemény */
.dropdown:hover .dropdown-content {
    display: block;
}
.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.dropdown-content fieldset{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dropdown-content a{
    text-align: center;
}
.latest-nav-div{
    border-bottom: 1px solid var(--primary-color);
}
#news-content a{
    border-right: 1px solid var(--primary-color);
    padding: 15px;
}
#news-content a:last-child{
    border-right: none;
    padding-right: unset;
}
.race-div{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
}
.result-nav-div{
    border-bottom: 1px solid var(--primary-color);
}