@media (max-width: 1700px) {
    .top-nav, header{
        padding: 0 100px;
    }
    .event-container{
       margin: 20px 100px;
    }
    .event-container .event, .event-container .event-spacer{
        flex: 1 1;
    }
    .news, .tech-news{
        margin: 25px 100px;
    }
    .standlist{
        padding: 25px 100px;
    }
    .standlist-spacer{
        flex: 1 1;
    }
    .standlist-content{
        flex: 1 1;
        margin: 0 ;
    }
    .standlist-content nav ul li:first-child{
        padding-left: 0;
    }
    .standlist-content nav ul li:last-child{
        padding-right: 0;
    }
    .schedule{
        padding: 25px 100px;
    }
    .scrollmenu a{
        width: 15%;
    }
}
@media (max-width: 1350px) {
    .top-nav, header {
        padding: 0 100px;
    }
    .event-container{
        margin: 25px 100px;
    }
    .news, .tech-news{
        margin: 25px 100px;
    }
    .standlist{
        padding: 25px 100px;
    }
    .standlist-spacer{
        flex: 0 1;
    }
    .standlist-content{
        flex: 1 0;
        margin: 0;
    }
    .schedule{
        padding: 15px 100px ;
    }
    .scrollmenu a{
        width: 20%;
    }
}
@media (max-width: 992px) {
    .top-nav,header{
        padding: 0 75px;
    }
    .full-schedule-container{
        justify-content: center;
    }
    .event-container{
        margin: 25px 75px;
    }
    .event-container .event{
        flex: 1 1;
    }
    .event-container .event-spacer{
        flex: 1 1;
    }
    .news, .tech-news{
        margin: 10 75px;
    }
    .news-container > *{
        flex: 1 0 40%;
        padding: 0px 15px;
        
    }
    .standlist{
        padding: 25px 75px;
        margin: unset;
    }
    .standlist-spacer{
        flex: 0 1;
    }
    .standlist-content{
        flex: 1 0;
        margin: 0;
    }
    .schedule{
        padding: 15px 75px ;
    }
    #schedule-content{
        flex-direction: column;
    }
    .scrollmenu a{
        width: 25%;
    }
}
@media (max-width: 768px) {
    .top-nav, header{
        padding: 0px 20px;
    }
    #schedule-content{
        flex-direction: column;
    }
    .full-schedule-container{
        justify-content: center;
    }
    .event-container{
        margin: 0 120px;
        display: unset;
    }
    .news-container{
        flex-direction: column;
    }
    .news, .tech-news{
        margin: 10px 20px;
    }
    .standlist {
        flex-direction: column;
        margin: unset;
        padding: 0;
    }
    .standlist-content{
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .schedule{
        padding: 15px 20px ;
    }
    #schedule-content{
        flex-direction: column;
    }
    .scrollmenu a{
        width: 25%;
    }
}
@media (max-width: 576px) {
    .top-nav{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    .header-container{
        background-color: var(--carbon-color) ;

    }
    .event-container{
        margin: 0 120px;
        display: unset;
    }
    .news-container{
        flex-direction: column;
    }
    .news, .tech-news{
        margin: 15px 0;
    }
    .standlist {
        flex-direction: column;
        margin: unset;
        padding: 0;
    }
    .standlist nav ul{
        flex-direction: column;
    }
    .standlist nav ul li{
        padding:15px;
        border: none;
    }
    .standlist-content{
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .schedule{
        padding: 0;
        margin: 15px 0;
    }
    #schedule-content{
        flex-direction: column;
    }
    .scrollmenu a{
        width: 25%;
    }
}