:root{
    --ferrari-color: #e80220;
    --mclaren-color: #ff8001;
    --mercedes-color: #26f5d2;
    --redbull-color: #3671c6;
    --alpine-color: #0093cc;
    --williams-color: #63c4ff;
    --astonmartin-color: #229971;
    --racingbulls-color: #6592ff;
    --haas-color: #b6babd;
    --sauber-color: #52e252;
}

@font-face {
    font-family: F1Font;
    src: url("fonts/Formula1-Regular.otf");
}

body{
    margin: 0;
    height: 200vh;
    background-color: #15151E;
    font-family: F1Font;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 0 150px;
    border-bottom:1px rgb(129, 128, 128) solid ;
}

.page-header nav{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
}

nav ul li{
    border-right: 1px solid rgb(129, 128, 128);
    padding: 0 25px;
}

nav ul li:last-child{
    border-right: none;
    padding-right: 0;
}

nav ul li:first-child{
    padding-left: 0;
}

nav ul li>a{
    text-decoration: none;
    color: white;
}

h2>a{
    text-decoration: none;
    color: white;
}

.active{
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom:1px rgb(129, 128, 128) solid;
    padding: 0 150px;
    top: 0;
}

main{
    display: flex;
    justify-content: top;
    margin: 25px 150px;
    color: white;
}

.img-section{
    background-image: url("img/f1lvglobe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 2 2;
    width: 50%;
}

.def-section{
    flex: 2 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
}

section{
    border: solid 1px rgb(129, 129, 129);

    height: 50vh;
}

.def-section a {
    display: flex;
    align-items: stretch;
    text-decoration: none;
    color: white;


}

.flag {
    height: 4rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.hidden{
    display: none;
}

.bet-navigation{
    padding: 0 15px;
    margin: 0;
    border-bottom: 1px solid rgb(129, 129, 129);
}
.bet-navigation ul li:first-child{
   
    border-right: none;
}
.bet-navigation ul li:last-child{

    border-left: none; 
}
#pilots a{
    margin: 20px 0;
}

.results-container{
    justify-content: center;
}

.results-container section{
    flex: 1 1;
}

#ferrari{
    border-left: 5px solid var(--ferrari-color);
    padding-left: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#mclaren{
    border-left: 5px solid var(--mclaren-color);
    padding-left: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}