/*Header*/
.header-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom:1px #cfcfc4 solid;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    border-bottom: 1px solid #cfcfc4;
}
.top-nav-black{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    border-bottom: 1px solid #cfcfc4;
    background-color: #15151E;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #cfcfc4 solid;
    padding: 0 150px;
    top: 0;

}
.header-transparent{
    background-color: transparent;
}
.header-black{
    background-color:  #15151E;
}