
nav ul{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
}
nav ul li{
    border-right: 1px solid rgb(129, 128, 128);
    padding: 0 25px;
}
nav ul li:last-child{
    border-right: none;
    padding-right: 0;

}
nav ul li:first-child{
    padding-left: 0;
}
a{
    text-decoration: none;
    color: white;
}
.active{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--red-color);
}
.hidden{
    display: none;
}
table{
    margin: 25px;
    text-align: center;
}
th,td{
    padding: 5px;
    border-bottom: 1px solid var(--grey-color);
    width: 100px;
}

/*navigation*/
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 0 150px;
    border-bottom: 1px solid var(--grey-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--grey-color) solid;
    padding: 0 150px;
    top: 0;
}
/*main*/
main{
    margin: 25px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;

}
main section{
    padding: 25px;  
    top: 0;
}
main h3{  
    font-size: small;
}
main h3>a{
    color: white;
}
main h3>a:hover{
    color: red;
}
.input-container{
	position: relative;
	margin-bottom:25px;
    font-family: F1Font;
}
.input-container label{
	position: absolute;
	top:0px;
	left:0px;
	font-size:18px;
	color:#fff;	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
    border:0;
    border-bottom:1px solid rgb(128, 128, 128);  
    background:transparent;
    padding: 10px 0;
    font-size:18px;
    color:#fff;
}
.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid rgb(128,128,128);	
}
.btn{
    text-align: center;
	color:#fff;
	background-color:red;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:25px;
	border-radius:2px;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:14px;
	
}
/*footer*/
footer{
    background-color: #15151E;
    color: white;
    text-align: center;
    padding: 25px;
    border-top: 1px rgb(129, 128, 128) solid;
}
footer fieldset{
    border: red 3px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
footer a{
    text-decoration: none;
    color: white;
  }
img{
    height: 25px;
    width: 32px;
    border-radius: 5px;
}
footer div{
    border-bottom: 1px solid var(--gray-color);
}