img{
    height: 25px;
    width: 32px;
    border-radius: 5px;
}
.circuit-image{
    height: 500px;
    width: auto;
}
/*Header*/
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 0 150px;
    border-bottom: 1px solid var(--grey-color);
}
.top-nav-black{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 0 150px;
    border-bottom: 1px solid var(--grey-color);
    background-color: var(--carbon-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--grey-color) solid;
    padding: 0 150px;
    top: 0;
}
.header-transparent{
    background-color: transparent;
}
.header-black{
    background-color: #15151E;
}
/* Dropdown stílusok */
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--carbon-color);
    z-index: 0;
    /* Kétoldali 150px margó */
    border-bottom: solid 1px var(--grey-color);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.85); /* Az utolsó érték a spread */
}
.dropdown-content div {
    text-decoration: none;
    display: flex;
    gap: 15px;
    padding: 25px 150px;

}
.fullSchedule-container{
    padding: 25px 0;
    border-bottom: 1px solid var(--grey-color);
    padding: 0 150px;
}
.fullSchedule-container a:hover{
    color: var(--red-color);
}
#schedule-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#schedule-content a{
    width: 300px;
}
#schedule-content div{
    padding: 10px 0;
}
#schedule-content p{
    padding: 0 15px;
}
/* Hover esemény */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content fieldset{
    border: 1px solid var(--grey-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dropdown-content a{
    text-align: center;
}

/*footer*/
footer{
    background-color: #15151E;
    color: white;
    text-align: center;
    border-top: 1px rgb(129, 128, 128) solid;
    border-bottom: 1px rgb(129, 128, 128) solid;
    
}
footer fieldset{
    border: red 3px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
footer a{
    text-decoration: none;
    color: white;
}
footer .bottom-div{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    color: #777;
}
footer div{
    padding: 0 150px;
    border-bottom: 1px solid var(--grey-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;  /* Eredeti 60px -> 30px */
    height: 17px; /* Eredeti 34px -> 17px */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px; /* Eredeti 26px -> 13px */
    width: 13px;  /* Eredeti 26px -> 13px */
    left: 2px;    /* Eredeti 4px -> 2px */
    bottom: 2px;  /* Eredeti 4px -> 2px */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px); /* Eredeti 26px -> 13px */
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px; /* Eredeti 34px -> 17px */
}

.slider.round:before {
    border-radius: 50%;
}
