.Profile-dropdown {
    display: flex;
    flex-direction: column;
    position: relative; /* A dropdown pozicionálásához szükséges */
    align-items: center; /* Középre igazítja az elemeket a flexbox miatt */
}

.Profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* A szülő jobb oldalához igazodik */
    background-color: var(--carbon-color);
    border-radius: 15px;
    width: max-content; /* Csak akkora lesz, amennyire szükség van */
    min-width: 150px; /* Ne legyen túl keskeny */
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Árnyék a jobb láthatóságért */
    text-align: center; /* Az összes szöveg középre kerül */
    padding: 10px 0; /* Kicsit több tér a tartalom körül */
}

.Profile-dropdown-content a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* Megakadályozza, hogy a szöveg több sorba törjön */
    margin: 0 10px;
}
.Profile-dropdown-content a:hover{
    background-color: #1d1d2a;
}
.Profile-dropdown:hover .Profile-dropdown-content {
    display: block;
}

.Profile-dropdown-content  li{
    border: none !important; 
    padding: 0 !important;
}